

{% extends 'adminz/base.html' %}


{% block content %}

<div class="main-panel">        
    <div class="content-wrapper">
      <div class="row  d-flex justify-content-center">
        <div  class="col-md-6 grid-margin stretch-card ml-5 m-5 shadow ">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">ADD SubCategory-form</h4>
             
              <form class="forms-sample "action=""  enctype='multipart/form-data' method="POST">
                {% csrf_token %}

                <div class="form-group">
                  <label for="exampleInputUsername1">Category</label>
                  {{form.category}}
                </div>
                
                <div class="form-group">
                  <label for="exampleInputEmail1">name</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" style="border: 1px solid rgb(112, 112, 225);" placeholder="" {{form.name}}
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Slug</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" style="border: 1px solid rgb(112, 112, 225);" placeholder="" {{form.slug}}
                </div>
                <button type="submit" class="btn btn-primary mr-2">ADD</button>
              
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
  
{%  endblock %}
