{%  extends 'adminz/base.html' %}

{% block content %}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">               
            <div class="col-md-3 grid-margin stretch-card">
              <div class="card bg-twitter d-flex align-items-center">
                <div class="card-body py-5">
                  <div
                    class="d-flex flex-row align-items-center flex-wrap justify-content-md-center justify-content-xl-start py-1">
                    <i class="mdi mdi-account-switch  text-white icon-lg"></i>
                    <div class="ml-3 ml-md-0 ml-xl-3">
                      <h5 class="text-white font-weight-bold">TOTAL USERS</h5>
                      <h5 class="mt-2 text-white card-text"> {{ account }}</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 grid-margin stretch-card">
              <div class="card bg-twitter d-flex align-items-center">
                <div class="card-body py-5">
                  <div
                    class="d-flex flex-row align-items-center flex-wrap justify-content-md-center justify-content-xl-start py-1">
                    <i class="mdi mdi-currency-inr text-white icon-lg"></i>
                    <div class="ml-3 ml-md-0 ml-xl-3">
                      <h5 class="text-white font-weight-bold">TOTAL TRANSASTION </h5>
                      <h5 class="mt-2 text-white card-text">  ₹  {{ sum}} </h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 grid-margin stretch-card">
              <div class="card bg-twitter d-flex align-items-center">
                <div class="card-body py-5">
                  <div
                    class="d-flex flex-row align-items-center flex-wrap justify-content-md-center justify-content-xl-start py-1">
                    <i class=" mdi mdi-check-all  text-white icon-lg"></i>
                    <div class="ml-3 ml-md-0 ml-xl-3">
                      <h5 class="text-white font-weight-bold">TOTAL ORDERS</h5>
                      <h5 class="mt-2 text-white card-text"> {{ payment }}</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 grid-margin stretch-card">
              <div class="card bg-twitter d-flex align-items-center">
                <div class="card-body py-5">
                  <div
                    class="d-flex flex-row align-items-center flex-wrap justify-content-md-center justify-content-xl-start py-1">
                    <i class=" mdi mdi-cart-outline  text-white icon-lg"></i>
                    <div class="ml-3 ml-md-0 ml-xl-3">
                      <h5 class="text-white font-weight-bold"> TOTAL PRODUCTS</h5>
                      <H5 class="mt-2 text-white card-text">  {{pro_count}} </H5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
                  
              <div id="container col-md-6" style="width: 50%;">
                <h3>MOST SELLED PRODUCTS</h3>
                <canvas id="population-chart" data-url="{% url 'quantity_chart' %}"></canvas>
              
              </div>
              <div id="container col-md-6" style="width: 50%;">
                <h3>MOST SELLED CATEGORIES</h3>
                <canvas id="category-chart" data-url="{% url 'category_chart' %}"></canvas>
              </div>

              <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
              <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
              <script>

                $(function () {

                  var $populationChart = $("#population-chart");
                  $.ajax({
                    url: $populationChart.data("url"),
                    success: function (data) {

                      var ctx = $populationChart[0].getContext("2d");

                      new Chart(ctx, {
                        type: 'bar',
                        data: {
                          labels: data.labels,
                          datasets: [{
                            label: 'sales',
                            backgroundColor: 'blue',
                            data: data.data
                          }]          
                        },
                        options: {
                          responsive: true,
                          legend: {
                            position: 'top',
                          },
                          title: {
                            display: true,
                            text: 'Population Bar Chart'
                          }
                        }
                      });

                    }
                  });

                });

              </script>
              <script>

                $(function () {

                  var $categoryChart = $("#category-chart");
                  $.ajax({
                    url: $categoryChart.data("url"),
                    success: function (data) {

                      var ctx = $categoryChart[0].getContext("2d");

                      new Chart(ctx, {
                        type: 'bar',
                        data: {
                          labels: data.labels,
                          datasets: [{
                            label: 'Category',
                            backgroundColor: 'red',
                            data: data.data
                          }]          
                        },
                        options: {
                          responsive: true,
                          legend: {
                            position: 'top',
                          },
                          title: {
                            display: true,
                            text: 'Category Bar Chart'
                          }
                        }
                      });

                    }
                  });

                });

              </script>
              {{pts}}
                <a href="{%  url 'paymentlist' %}">pdffffff</a>
                <img src="{{pts.image.url}}" alt="">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">All Transations</h4>
                  <p class="card-description">
                      <code></code>
                    <form method="GET" action="{% url 'Paymentsearch' %}">
                      {% csrf_token %}
                      <div class="input-group">
                        <input type="text" class="form-control rounded border-primary" name="keyword" placeholder="Search Here" aria-label="Search" aria-describedby="search-addon" />
                        <button type="submit" class="btn btn-outline-primary">search</button>
                      </div>
                    </form>
                  </p>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th style="font-weight: 600;">
                            User
                          </th>
                          <th style="font-weight: 600;">
                            Payment Id
                          </th>
                          <th style="font-weight: 600;">
                            Amount
                          </th>
                          <th style="font-weight: 600;">
                            Status
                          </th>
                          <th style="font-weight: 600;">
                            Date
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>{% for x in transations %}
                          <td class="py-1">
                            <!-- <img src="" alt=""/> -->
                            {{ x.user}}
                          </td>
                          <td>
                            {{ x.payment_id }} 
                          </td>
                          <td>
                            <!-- <div class="progress">
                              <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div> -->
                            ₹  {{ x.amount_paid}}
                          </td>
                          <td>
                            {% if x.paid %}
                             completed
                             {% else %}
                             Failed
                             {% endif %}


                         
                          </td>
                          <td>
                           {{x.created_at}}
                          </td>
                        </tr>
                        {% endfor %}
                        <!-- <tr>
                          <td class="py-1">
                            <img src="../../images/faces/face2.jpg" alt="image"/>
                          </td>
                          <td>
                            Messsy Adam
                          </td>
                          <td>
                            <div class="progress">
                              <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </td>
                          <td>
                            $245.30
                          </td>
                          <td>
                            July 1, 2015
                          </td>
                        </tr>
                        <tr>
                          <td class="py-1">
                            <img src="../../images/faces/face3.jpg" alt="image"/>
                          </td>
                          <td>
                            John Richards
                          </td>
                          <td>
                            <div class="progress">
                              <div class="progress-bar bg-warning" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </td>
                          <td>
                            $138.00
                          </td>
                          <td>
                            Apr 12, 2015
                          </td>
                        </tr>
                        <tr>
                          <td class="py-1">
                            <img src="../../images/faces/face4.jpg" alt="image"/>
                          </td>
                          <td>
                            Peter Meggik
                          </td>
                          <td>
                            <div class="progress">
                              <div class="progress-bar bg-primary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </td>
                          <td>
                            $ 77.99
                          </td>
                          <td>
                            May 15, 2015
                          </td>
                        </tr>
                        <tr>
                          <td class="py-1">
                            <img src="../../images/faces/face5.jpg" alt="image"/>
                          </td>
                          <td>
                            Edward
                          </td>
                          <td>
                            <div class="progress">
                              <div class="progress-bar bg-danger" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </td>
                          <td>
                            $ 160.25
                          </td>
                          <td>
                            May 03, 2015
                          </td>
                        </tr>
                        <tr>
                          <td class="py-1">
                            <img src="../../images/faces/face6.jpg" alt="image"/>
                          </td>
                          <td>
                            John Doe
                          </td>
                          <td>
                            <div class="progress">
                              <div class="progress-bar bg-info" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </td>
                          <td>
                            $ 123.21
                          </td>
                          <td>
                            April 05, 2015
                          </td>
                        </tr>
                        <tr>
                          <td class="py-1">
                            <img src="../../images/faces/face7.jpg" alt="image"/>
                          </td>
                          <td>
                            Henry Tom
                          </td>
                          <td>
                            <div class="progress">
                              <div class="progress-bar bg-warning" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </td>
                          <td>
                            $ 150.00
                          </td>
                          <td>
                            June 16, 2015
                          </td>
                        </tr> -->
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          




 {% endblock %} 