

{% extends 'adminz/base.html' %}


{% block content %}


<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Section List</h4>
      <p class="card-description">
        <button class="btn btn-rounded btn-warning"><a href="{% url 'addsection' %}">ADD</a></button>
          
      </p>
      <form method="GET" action="{% url 'searchdiscount' %}">
        {% csrf_token %}
        <div class="input-group">
          <input type="text" class="form-control rounded border-primary" name="keyword" placeholder="Search Here" aria-label="Search" aria-describedby="search-addon" />
          <button type="submit" class="btn btn-outline-primary">search</button>
        </div>
      </form>
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
                        
          <div class="alert alert-success alert-dismissiblen ">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{message}}</strong> 
          </div>
        {% endfor %}
      </ul>
      {% endif %}
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th style="font-weight: 600;">
                
              </th>
              <th style="font-weight: 600;">
                Section
              </th>
              <th style="font-weight: 600;">
                edit
              </th>
              <th style="font-weight: 600;">
                 Delete
              </th>
            
            </tr>
          </thead>
          <tbody>
            <tr>{% for x in section %}
              <td class="py-1">
                 
             
              </td>
                <td>
                  <h4> {{x.name}}</h4>
                </td>
             
                
           <td>
                <a style="color:green;" href="{% url 'editsection' x.id %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> </a>
                
          
              </td>
              <td>
                <a style="color: red;" onclick="return confirm('are you sure to delete'+''+ '{{x.name}}')" href="{% url 'deletesection' x.id %}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                 
              </td>
              
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>






{% endblock %}