{% extends 'products/base.html' %}
{%  load static %}
{% block content  %}




 <section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class=" d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Checkout</h1>
                <nav class="d-flex align-items-center">
                    <a href="">Home<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    <a href="single-product.html">PAYMENT ON THE WAY</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!--================Checkout Area =================-->
<section class="checkout_area section_gap">
    <div class="container">
       
        <div class="billing_details">
            <div class="row">
                <div class="col-lg-5">
                    <h3>Billing Details</h3>
                     <!-- <form class="row contact_form" action="{% url 'place_order' %}" method="POST"> 
                         {% csrf_token %}  -->
                        <div class="card w-100">
                            <h5 class="card-header">Billing Details</h5>
                            <div class="card-body">
                              <h5 class="card-title">Billing Address  </h5>
                              <p class="card-text mb-0  text-primary fw-2" >{{  address.first_name }} {{  address.last_name }}</b></p>                             
                               <p class="card-text mb-0">{{  address.address_line_1 }}</p> 
                              <p class="card-text mb-0">{{  address.phone }}</p>                              
                              <p class="card-text mb-0">{{  address.email }}</p>                              
                              <p class="card-text mb-0">{{  address.city }},{{ address.district }}</p>                             
                              <p class="card-text mb-0">{{  address.state }},{{ address.country }},{{  address.zip }}</p>
                             
                            </div>
                          </div>
                          {% comment %} <div class="card w-100">
                            <!-- <h5 class="card-header">Payment method</h5> -->
                            <div class="card-body">
                              <h5 class="card-title">Payment method</h5>
                              <p class="card-text">Razorpay</p>                             
                            </div>
                          </div> {% endcomment %}
                          <div class="card w-100">
                            <!-- <h5 class="card-header">Review product</h5> -->
                            <div class="card-body ">
                              <h5 class="card-title">Review product</h5>
                              {% for x in cart_items %}  
                              <p class="card-text">{{x.product.name}}  ,  {{x.quantity}}</p>                            
                              {% endfor %}                            
                            </div>
                          </div>
                        </div>
                        <div  class="col-lg-7 mt-5 "> 
                           
                            <h4 style="text-align: center;">Order Detailes</h4>
                        <div class="order_box">
                            <h2>Your Order</h2>
                            <ul class="list mt-1">
                                <table>
                                    <tr>
                                        <th></th>
                                        <th>product</th>
                                        <th>quantity</th>
                                        <th>price</th>
                                    </tr>
                                    {% for x in cart_items %}  
                                    <tr style="margin-top: 20%;height: 70%;">
                                        <td style="width: 45%;"><img src=" {{ x.product.image.url }}" style="width: 50px; height: 50px;" alt=""></td>
                                        <td style="width: 30%;">{{x.product.name}}</td>
                                        <td style="width: 25%;">{{x.quantity}}</td>
                                        <td>{{ x.sub_total }}</td>
                                    </tr>
                                    {% endfor %}
                                </table>                       
                            
                            </ul> 
                            <ul class="list mt-2 ">
                                <li><a style="color: black; font-weight: 700;" href="#">Subtotal <span>₹ {{total}}</span></a></li>
                                <li><a style="color: black; "href="#">Tax <span>₹ {{tax}}</span></a></li>
                                {% if not discount_available %}
                                <li><a style="color:black;font-weight: 800;" href="#">Grand Total <span>₹ {{grand_total_without}}</span></a></li>
                                {% else %}
                                <li><a style="color:black;font-weight: 800;" href="#">Grand Total <span>₹ {{grand_total}}</span></a></li>
                                {% endif %}
                            </ul>
                        
                            <div class="checkout_btn_inner d-flex align-items-center ml-5">
                                <a href="{% url 'payments' %}"><button type="submit" style="margin-left: 30%;" class="btn primary-btn ">Proceed to pay</button></a>
                                <a href="{% url 'cod' %}"><button type="submit" style="margin-left: 30%;" class="btn primary-btn ">Cash On delivary</button></a>
                               
                               
                            </div>
                            <br>
                            <!-- {% if payment %}
                            <form action="{% url 'payment_status'  %}" method="POST">
                                {% csrf_token %}
                                <script    src="https://checkout.razorpay.com/v1/checkout.js"  
                                  data-key="rzp_test_EsWN1MNLnJr3lq"  
                                  data-amount="{{ payment.amount }}" 
                                  data-currency="{{ payment.currency }}"
                                  data-order_id="{{ payment.id }}"    
                                  data-buttontext="Pay with Razorpay"    
                                  data-name="sportsbasket.com"    
                                  data-description="100% secured payment interface"    
                                  data-image="https://example.com/your_logo.jpg"    
                                  data-prefill.name="{{ payment.name }}"    
                                  data-prefill.email="gaurav.kumar@example.com"    
                                  data-theme.color="#F37254">
                                </script><input type="hidden" custom="Hidden Element" name="hidden"></form>
                            {% endif %} -->
                        
                    <!-- </form> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Checkout Area =================-->

<!-- start footer Area -->
<footer class="footer-area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    
                    <a href="{%  url 'contact' %}"><h6>About Us</h6></a>
                    <p>
                        its not a store its a world of sports 
                        
                    </p>
                    <p>explore more</p>

                    <a href="{% url 'home' %}">click Here</a>
                </div>
            </div>
            <div class="col-lg-4  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Social Media</h6>
                    <p>Facebook</p>
                    <p>Instagram</p>
                    <p>Email</p>
                    <p>Twitter</p>
                
                    <div class="" id="mc_embed_signup">

                        <form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                         method="get" class="form-inline">
                    
                            <div class="info"></div>
                        </form>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Follow Us</h6>
                    <p>Let us be social</p>
                    <div class="footer-social d-flex align-items-center">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </div>
                </div>
            </div>
        </div>
        
</p>
        </div>
    </div>
</footer>

{% endblock %}