{% extends  'products/base.html' %}
{% block content %}

{% load static %}
<div class="container">
    <div class="row">
        <div style="margin-top: 200px;" class="col-lg-6">
            <h4>Customer Service</h4><hr>
            <span>The SportsBasket Help Centre page lists out various types of issues that you may have encountered so that there can be quick resolution and you can go back to shopping online. Payment, shopping, and more. The page has various filters listed out on the left-hand side so that you can get your queries solved quickly, efficiently, and without a hassle. You can get the SportsBasket Help Centre number or even access the our official email . You can even inform your loved ones of the support page so that they can properly get their grievances addressed as well. Once you have all your queries addressed, you can pull out your shopping list and shop for all your essentials in one place. You can shop during festive sales to get your hands on some unbelievable deals online. </span>
            <h5>email:basketsports3@gmail.com</h5>
            <h5>Phone: +91 9656671763</h5>
            <span>our company address and locations are given in the right of the tab</span>
        </div>
        <div style="margin-top: 200px;" class="col-lg-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11329.979589805216!2d75.8925476014434!3d11.154304850895768!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba6513d6a79ea8f%3A0xca7fe369546aec60!2sBrototype!5e1!3m2!1sen!2sin!4v1655975089748!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>

</div>



{%  endblock %}