{% extends  'products/base.html' %}
{% block content %}

{% load static %}



<section class="login_box_area section_gap mt-5">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="login_box_img">
					<img class="img-fluid" src="{% static 'home/images/bg/lgg.jpg'  %}" alt="">
					<div class="hover">
						<h4>New to our website?</h4>
						<p>There are advances being made in science and technology everyday, and a good example of this is the</p>
						<a class="primary-btn" href="{% url 'register' %}">Create an Account</a>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="login_form_inner">
					<h3>Log in to enter</h3>
					<form class="row login_form" action="" method="POST" id="contactForm" novalidate="novalidate">
						{% csrf_token %}
					
						<div class="col-md-12 form-group">
							{% if messages %}
							<ul class="messages">
								{% for message in messages %}
																
									<div class="alert alert-success alert-dismissiblen ">
										<button type="button" class="close" data-dismiss="alert">&times;</button>
										<strong>{{message}}</strong> 
									</div>
								{% endfor %}
							</ul>
							{% endif %}
							<input type="text" class="form-control" id="email" name="email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'">
						</div>
						<div  class="col-md-12 form-group">
							<input type="Password" class="form-control" id="Password" name="Password" placeholder="Password" onfocus="this.placeholder = ''"  onblur="this.placeholder = 'Password'">
						</div>
					
						<div class="col-md-12 form-group">
							<button type="submit" value="submit" class="primary-btn">Log In</button>
							<a href="{% url 'forgot_password' %}">Forgot Password?</a>
							<a href="{% url 'not_verified' %}"> Not verified?</a>
						</div>
						<a href="{% url 'home' %}">Back to Home</a>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<footer class="footer-area section_gap">
	<div class="container">
		<div class="row">
			<div class="col-lg-4  col-md-6 col-sm-6">
				<div class="single-footer-widget">
					
					<a href="{%  url 'contact' %}"><h6>About Us</h6></a>
					<p>
						its not a store its a world of sports 
						
					</p>
					<p>explore more</p>

					<a href="{% url 'home' %}">click Here</a>
				</div>
			</div>
			<div class="col-lg-4  col-md-6 col-sm-6">
				<div class="single-footer-widget">
					<h6>Social Media</h6>
					<p>Facebook</p>
					<p>Instagram</p>
					<p>Email</p>
					<p>Twitter</p>
				
					<div class="" id="mc_embed_signup">

						<form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
						 method="get" class="form-inline">
					
							<div class="info"></div>
						</form>
					</div>
				</div>
			</div>
			
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="single-footer-widget">
					<h6>Follow Us</h6>
					<p>Let us be social</p>
					<div class="footer-social d-flex align-items-center">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-dribbble"></i></a>
						<a href="#"><i class="fa fa-behance"></i></a>
					</div>
				</div>
			</div>
		</div>
		
</p>
		</div>
	</div>
</footer>
{% endblock %}

