{% extends  'products/base.html' %}
{% block content %}

{% load static %}



<section class="login_box_area section_gap mt-5">
	<div class="container">
		<div class="row">
			{% if form.email.errors %} 
					<div class="col-lg-12 ">
		
						<div class="alert alert-danger alert-dismissible fade show" role="alert">
						  
							{% for field in form %}  {% for error in field.errors %}
						  {{ error }}
							{% endfor %}  {% endfor %}
						  
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							  <span aria-hidden="true">&times;</span>
							</button>
						  </div>
					</div> {% endif %}   
		
					{% if form.non_field_errors %} 
					<div class="col-lg-12 ">
		
						<div class="alert alert-danger alert-dismissible fade show" role="alert">
						  
						  {% for err in form.non_field_errors %}
						  {{ err }}
							{% endfor %} 
						  
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							  <span aria-hidden="true">&times;</span>
							</button>
						  </div>
					</div> {% endif %}
			<div class="col-lg-6">
				<div class="login_box_img">
					<img class="img-fluid" src="{% static 'home/images/bg/lgg.jpg'  %}" alt="">
					<div class="hover">
						<!-- <h4>SPORTSBASKET.COM</h4>
						<p>There are advances being made in science and technology everyday, and a good example of this is the</p> -->
						<a class="primary-btn" href="{% url 'login' %}"> Login </a>
					</div>
				</div>
			</div>
		
			<div class="col-lg-6">
			
				<div class="login_form_inner">
					<h3>  Register Now </h3>
					
					<form class="row login_form" action="" method="POST" id="registerform" novalidate="novalidate">
						{% csrf_token %}
					
						<div class="col-md-12 form-group">
							{% comment %} {% if messages %}
							<ul class="messages">
								{% for message in messages %}
																
									<div class="alert alert-success alert-dismissiblen ">
										<button type="button" class="close" data-dismiss="alert">&times;</button>
										<strong>{{message}}</strong> 
									</div>
								{% endfor %}
							</ul>
							{% endif %}
		 {% endcomment %}
							<!-- <input type="text" class="form-control" id="email" name="email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'">
						</div>
						<div class="col-md-12 form-group">
							<input type="Password" class="form-control" id="Password" name="Password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
						</div>
					 -->
								<div class="form-group">
									<div class="form-wrapper">
										<!-- <label for="">First Name</label> -->
										{{form.first_name}}
									</div>
									<div class="form-wrapper">
										<!-- <label for="">Last Name</label> -->
										{{form.last_name}}
									</div>
								</div>
								<div class="form-wrapper">
									<!-- <label for="">Email</label> -->
									{{form.email.error}}
									{{form.email}}
								</div>
								<div class="form-wrapper">
									<!-- <label for="">Mobile Number</label> -->
									{{form.phone_number}}
								</div>
								<div class="form-wrapper">
									<!-- <label for="">Password</label> -->
									{{form.password}}
								</div>
								<div class="form-wrapper">
									<!-- <label for="">Confirm Password</label> -->
									{{form.confirm_password}}
				
				<!-- <button class="btn bg-danger" type="submit">Register Now</button>
				<br> -->{{form.error}}
						<div class="col-md-12 form-group">
							<button type="submit" value="submit" class="primary-btn">Register Now</button>
							<a href="{% url 'forgot_password' %}">Forgot Password?</a>
						</div>
						<a href="{% url 'home' %}">Back to Home</a>
					</form>
				</div>
			</div>
		</div>
	</div>

</section>

<footer class="footer-area section_gap">
	<div class="container">
		<div class="row">
			<div class="col-lg-4  col-md-6 col-sm-6">
				<div class="single-footer-widget">
					
					<a href="{%  url 'contact' %}"><h6>About Us</h6></a>
					<p>
						its not a store its a world of sports 
						
					</p>
					<p>explore more</p>

					<a href="{% url 'home' %}">click Here</a>
				</div>
			</div>
			<div class="col-lg-4  col-md-6 col-sm-6">
				<div class="single-footer-widget">
					<h6>Social Media</h6>
					<p>Facebook</p>
					<p>Instagram</p>
					<p>Email</p>
					<p>Twitter</p>
				
					<div class="" id="mc_embed_signup">

						<form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
						 method="get" class="form-inline">
					
							<div class="info"></div>
						</form>
					</div>
				</div>
			</div>
			
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="single-footer-widget">
					<h6>Follow Us</h6>
					<p>Let us be social</p>
					<div class="footer-social d-flex align-items-center">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-dribbble"></i></a>
						<a href="#"><i class="fa fa-behance"></i></a>
					</div>
				</div>
			</div>
		</div>
		
</p>
		</div>
	</div>
</footer>
{% endblock %}





