{% extends 'products/base.html' %}
{%  load static %}
{% block content  %}
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class=" d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Shopping Cart</h1>
                <nav class="d-flex align-items-center">
                    <a href="">Home<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    <a href="">Cart</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
{% if messages %}
<ul class="messages">
  {% for message in messages %}
                  
    <div class="alert alert-success alert-dismissiblen ">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>{{message}}</strong> 
    </div>
  {% endfor %}
</ul>
{% endif %}
<!--================Cart Area =================-->
{% if  not  cart_items %}

<div style="margin-top: 50px" class="container ">
    <div class="text-align text-center">
      <h2>-----    No cart items   -----</h2>
      <h4>please shop Now</h4>
      <img style="margin-top: 50px;" src="https://shop.du.ae/_ui/responsive/common/images/Truck.svg" alt="">
    </div>
    <h3 style="text-align: center; margin-top: 50px; margin-bottom: 200px;" ><button style="align-items: center;" class="btn btn-primary btn-lg"><a style="text-decoration: none; color:white;" href="{% url 'home' %}">CONTINUE SHOPPING</a> </button></h3>
    </div>

{% else %}
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive shadow">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                            <th scope="col">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for x in cart_items %} 
                        <tr>
                            <td>
                                <div class="media">
                                    <div class="d-flex">
                                        <img style="width: 100px; height:100px;" src="{{ x.product.image.url}}" alt="">
                                    </div>                                
                                    <div class="media-body">
                                      <a href="{{ x.product.get_url }}"> <p style="color: black; font-size: large;">{{ x.product.name}}</p></a>
                                      {% if x.variations.all %}                                      
                                         {% for item in x.variations.all %}
                                         <p>{{ item.variation_category }} :{{ item.variation_value }}</p> 
                                        {%endfor%}
                                      {% endif %}                                      
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h5>₹{{ x.product.price}}</h5>
                            </td>
                            <td>
                                <div class="product_count">                                
                                    <input type="text" name="quantity" id="quantity" maxlength="12" value="{{ x.quantity }}" title="Quantity:"
                                        class="input-text qty">
                                        <form action="{% url 'add_cart'  x.product.id  %}" method="POST">
                                            {% csrf_token %}
                                            {% for item in x.variations.all %}
                                                <input type="hidden" name="{{ item.variation_category }}" value="{{ item.variation_value  }}">
                                            {% endfor %}
                                            <button class="increase items-count" type="submit"><i style="color: black;" class="fa fa-plus " aria-hidden="true"></i></button>
                                        </form>
                                        <a href="{% url 'remove_cart' x.product.id  x.id %}"> <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )  ) result.value--;return false;"
             
                                       class="reduced items-count " type="button"><i style="color: black;" class="fa fa-minus" aria-hidden="true"></i></button>
                                </div>
                            </td>
                            <td>
                                <h5>₹ {{ x.sub_total }}</h5>
                            </td>
                            <td>
                               <a href="{% url 'remove_cartitem' x.product.id  x.id %}"><button onclick="return confirm('Are you sure want to delete the item'+'?');" class="btn btn-danger">Remove</button></a>
                            </td>
                        </tr>
                       {% endfor %}
                    
                        <tr>
                           
                            <td>

                            </td>
                            <td >
                                <div></div>
                                <h5>Total</h5>
                            </td>
                            <td>
                                <strong><h4>₹ {{total}}</h4></strong>
                            </td>
                        </tr>
                        <tr class="shipping_area">
                           
                            <td>

                            </td>
                            <td>
                                <h5>Tax</h5>
                               
                            </td>
                            <td>                              
                                        <li style="text-decoration: None;"><a href="#">₹ {{ tax }}</a></li>                                  
                                    
                                    </ul>
                              
                                </div>
                            </td>
                        </tr>  <tr>
                           
                            <td>

                            </td>
                            <td >   
                                <div></div>
                                <h5>Grand Total</h5>
                            </td>
                            <td>
                                <strong><h3>₹ {{grand_total}}</h></strong>
                            </td>
                        </tr>
                        <tr class="out_button_area">
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <div class="checkout_btn_inner d-flex align-items-center">
                                    <a class="gray_btn" href="{% url 'home' %} ">Continue Shopping</a>
                                    <a class="primary-btn" href="{% url 'checkout' %}">Proceed to checkout</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endif %}
<!--================End Cart Area =================-->

<!-- start footer Area -->
<footer class="footer-area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    
                    <a href="{%  url 'contact' %}"><h6>About Us</h6></a>
                    <p>
                        its not a store its a world of sports 
                        
                    </p>
                    <p>explore more</p>

                    <a href="{% url 'home' %}">click Here</a>
                </div>
            </div>
            <div class="col-lg-4  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Social Media</h6>
                    <p>Facebook</p>
                    <p>Instagram</p>
                    <p>Email</p>
                    <p>Twitter</p>
                
                    <div class="" id="mc_embed_signup">

                        <form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                         method="get" class="form-inline">
                    
                            <div class="info"></div>
                        </form>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Follow Us</h6>
                    <p>Let us be social</p>
                    <div class="footer-social d-flex align-items-center">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </div>
                </div>
            </div>
        </div>
        
</p>
        </div>
    </div>
</footer>

{%   endblock %}