{% extends 'products/base.html' %}
{%  load static %}
{% block content  %}




 <section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class=" d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Checkout</h1>
                <nav class="d-flex align-items-center">
                    <a href="">Home<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    <a href="">place order</a>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="checkout_area section_gap">
    <div class="container">
       
        <div class="billing_details">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                                                
                    <div class="alert alert-success alert-dismissiblen ">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>{{message}}</strong> 
                    </div>
                {% endfor %}
            </ul>
            {% endif %}
            <div class="row">
              
                <div class="col-lg-5">
                    <h3>Billing Details</h3>               
                    <form class="row contact_form" action="" method="POST">
                        {% csrf_token %}
                       
                        <div class="col-md-6 form-group p_star">
                            <label style="color: black;" for="">first name</label>
                            <input type="text" class="form-control" id="first" name="first_name">
                           
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <label style="color: black;" for="">last name</label>
                            <input type="text" class="form-control" id="last" name="last_name">
                           
                        </div>
                        
                        <div class="col-md-6 form-group p_star">
                            <label style="color: black;" for="">phone</label>
                            <input type="text" class="form-control" id="number" name="phone" required>
                           
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <label style="color: black;" for="">email</label>
                            <input type="email" class="form-control" id="email" name="email">
                           
                        </div>
                        
                        <div class="col-md-12 form-group p_star">
                            <label style="color: black;" for="">address line 1</label>
                            <input type="text" class="form-control" id="address_line_1" name="address_line_1" required>
                           
                        </div>
                        <div class="col-md-12 form-group p_star"> 
                            <label style="color: black;" for="">address line 2(optional)</label>                           
                            <input type="text" class="form-control" id="add2" name="address_line_2">
                     
                        </div>
                        <div class="col-md-12 form-group p_star">
                            <label style="color: black;" for="">city</label>
                            <input type="text" class="form-control" id="city" name="city">
                         
                        </div>
                        <div class="col-md-12 form-group p_star">
                            <label style="color: black;"  for="">District</label>
                            <select name="district" class="country_select">
                                <option value="1">District</option>
                                <option value="Kasargod">Kasargod</option>
                                <option value="kannur">kannur</option>
                                <option value="wayanad">wayanad</option>
                                <option value="kozhikod">kozhikod</option>
                                <option value="malappuram">malappuram</option>
                                <option value="trissur">trissur</option>
                                <option value="palakkad">palakkad</option>
                                <option value="idukki">idukki</option>
                                <option value="ernakulam">ernakulam</option>
                                <option value="kottayam">kottayam</option>
                                <option value="alappuzha">alappuzha</option>
                                <option value="pathanamtitta">pathanamtitta</option>
                                <option value="kollam">kollam</option>
                                <option value="truvandram">truvandram</option>
                            </select>
                        </div>
                        <div class="col-md-12 form-group p_star">
                            <label style="color: black;" for="">state</label>
                            <select name="state" class="country_select">
                                <option value="">Select</option>
                                <option value="kerala">kerala</option>                                
                                <option value="karnadaka">karnadaka</option>                                
                            </select>
                        </div>
                        <div class="col-md-12 form-group p_star">
                            <label  style="color: black;" for="">country</label>
                            <select name="country" class="country_select">
                                <option value="">Select</option>                                
                                <option value="india">india</option>                                
                            </select>
                        </div>                      
                        
                      
                        <div class="col-md-12 form-group">
                            
                            <input type="text" class="form-control" id="zip" name="zip" placeholder="Postcode/ZIP" required>
                        </div>
                        <div class="checkout_btn_inner ">
                            <button type="submit"  style="margin-left: 30%;" class="btn primary-btn "> Save</button>
                        </div>
                    </form>
                   
                    </div>
                   
                    <div  class="col-lg-7 ">
                        <div class="cupon_area">
                            <div class="check_title w-100">
                                <h2>Eligible for coupon? <a >Check below available coupon for you</a></h2>
                            </div>
                            {% for x in coupon %}
                                <p style="font-weight: 800;">{{x.coupon_code}}</p>
                                {% if grand_total_without > x.active_from %}
                                <p style="color: red;margin-top: -10px;">You are Eligible for this code</p>
                                {% endif %}
                            {% endfor %}
                            </form>                           
                        </div>

                        <!-- adeeddddddd -->

                        <div class="cupon_area">
                            <div class="check_title w-100">
                                <h2>Have a coupon? <a href="#">Click here to enter your code</a></h2>
                            </div>
                            <form method="POST" action="">
                                {% csrf_token %}
                                <input type="text" class="shadow" name="coupon" placeholder="Enter coupon code">
                               <button class="btn btn-primary" type="submit">Enter Coupon</button>
                            </form>                           
                        </div>
                        <!-- endhere -->



                        <form action="{% url 'place_order' %}" method="POST"> 
                        {% csrf_token  %}                       
                        <div class="order_box ">  
                            <div class="form-check ">{% for a in address %}
                                <input class="form-check-input" type="radio"  name="address" value="{{a.id}}" checked>                        
                                <label class="form-check-label" for="exampleRadios1">                            
                                   <b>{{a.first_name}} </b>  <a href="{% url 'remove_address' a.id %}"><i style="margin-left:150px;color: red;font-size: large;" class="fa fa-trash "  aria-hidden="true"></i></a>                
                                </label>
                                
                                   <p>{{a.first_name}}{{a.last_name}},{{a.address_line_1}}<br>,{{a.email}},<br>{{a.city}},{{a.state}},{{a.phone}}<br>{{a.country}},{{a.zip}}</p> 
                                {% endfor %}
                             
                              </div>
                            <h2>Your Order</h2>
                            <ul class="list mt-1">
                                <table>
                                    <tr>
                                        <th></th>
                                        <th>product</th>
                                        <th>quantity</th>
                                        <th>price</th>
                                    </tr>
                                    {% for x in cart_items %}  
                                    <tr style="margin-top: 20%;height: 70%;">
                                        <td style="width: 45%;"><img src=" {{ x.product.image.url }}" style="width: 50px; height: 50px;" alt=""></td>
                                        <td style="width: 30%;">{{x.product.name}}</td>
                                        <td style="width: 25%;">{{x.quantity}}</td>
                                        <td>{{ x.sub_total }}</td>
                                    </tr>
                                    {% endfor %}
                                </table>                       
                            
                            </ul> 
                            <ul class="list mt-2 ">
                                <li><a style="color: black; font-weight: 700;" href="#">Subtotal <span>₹ {{total}}</span></a></li>
                                <li><a style="color: black; "href="#">Tax <span>₹ {{tax}}</span></a></li>
                                {% if not discount_available %}
                                <li><a style="color:black;font-weight: 800;" href="#">Grand Total <span>₹ {{grand_total_without}}</span></a></li>
                                {% else %}
                                <li><a style="color: black; "href="#">Discount <span>₹ {{ discount_available }}</span></a></li>
                                <li><a style="color:black;font-weight: 800;" href="#">Grand Total <span>₹ {{grand_total}}</span></a></li>
                                {% endif %}
                            </ul>
                            <div class="checkout_btn_inner d-flex align-items-center">
                                <button type="submit" style="margin-left: 30%;" class="btn primary-btn "> Place Order</button>
                            </div>
                  
                    </div>
                </form>     
                </div>
            </div>
        </div>
    </div>
</section>


<footer class="footer-area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    
                    <a href="{%  url 'contact' %}"><h6>About Us</h6></a>
                    <p>
                        its not a store its a world of sports 
                        
                    </p>
                    <p>explore more</p>

                    <a href="{% url 'home' %}">click Here</a>
                </div>
            </div>
            <div class="col-lg-4  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Social Media</h6>
                    <p>Facebook</p>
                    <p>Instagram</p>
                    <p>Email</p>
                    <p>Twitter</p>
                
                    <div class="" id="mc_embed_signup">

                        <form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                         method="get" class="form-inline">
                    
                            <div class="info"></div>
                        </form>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Follow Us</h6>
                    <p>Let us be social</p>
                    <div class="footer-social d-flex align-items-center">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </div>
                </div>
            </div>
        </div>
        
</p>
        </div>
    </div>
</footer>

{% endblock %}

