{% extends  'products/base.html' %}
{% block content %}

{% load static %}

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class=" d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>{{single_product.category}}</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Home<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
						<a href="#">{{single_product.category}}<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
						<a href="">{{single_product.name}}</a>
						
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->
<! <div class="product_image_area">
		<div class="container">
			<div style="background-color: rgba(128, 128, 128, 0.019);" class="row s_product_inner border shadow">
				<div class="col-lg-5  ">
					
					<div class="s_Product_carousel borde mainImage"mainImage>
						<div class=" MainImage"mainImage>
							{% if single_product.image %}
							<img class="img-fluid"src="{{ single_product.image.url }}"  alt="">
							{% else %}
							<img src="{%  static 'home/images/bg/mop.png' %}" class="rounded-circle border border-2 border-primary" alt="Avatar"alt="images">
							{% endif%}
						</div>
					
						<div class="single-prd-item">
							{% if single_product.image1 %}
							<img class="img-fluid" src="{{ single_product.image1.url }}" alt="">
							{% else %}
							<img src="{%  static 'home/images/bg/mop.png' %}" class="rounded-circle border border-2 border-primary" alt="Avatar"alt="images">
							{% endif %}
						</div>
						
					 <div class="single-prd-item">
						{% if single_product.image2 %}
							<img class="img-fluid" src="{{ single_product.image2.url }}" alt="">
							{% else %}
							<img src="{%  static 'home/images/bg/mop.png' %}" class="rounded-circle border border-2 border-primary" alt="Avatar"alt="images">
							{% endif %}
						</div>
						<div class="single-prd-item">
							{% if single_product.image3 %}
							<img class="img-fluid" src="{{ single_product.image3.url }}" alt="">
							{% else %}
							<img src="{%  static 'home/images/bg/mop.png' %}" class="rounded-circle border border-2 border-primary" alt="Avatar"alt="images">
							{% endif %}
						</div> 
					</div>
			
				
					
				</div>
				<form method="POST" action="{% url 'add_cart' single_product.id %}" >
					{% csrf_token %}
					<div class="col-lg-12 offset-lg-2   " style="width: 500px;">
						<div class="s_product_text">
							<h3>{{ single_product.name }}</h3>
							<div class="media-body">																
								{% if star >= 1 %}
								<i style="color: rgb(239, 151, 20);" class="fa fa-star "></i>
								{% endif %}
								{% if star >= 2 %}
								<i style="color: rgb(239, 151, 20);" class="fa fa-star "></i>									
								{% endif %}
								{% if star >= 3 %}
								<i style="color: rgb(239, 151, 20);" class="fa fa-star "></i>										
								{% endif %}
								{% if star >= 4 %}
								<i style="color: rgb(239, 151, 20);" class="fa fa-star "></i>							
								{% endif %}
								{% if star >= 5 %}
								<i style="color: rgb(239, 151, 20);" class="fa fa-star "></i>								
								{% endif %} 
								{% if star%}
								({{star}} /5)
								{% endif %}
							</div>
								
							<h3 style="color: rgb(253, 8, 8);font-weight:700 ;">₹ {{ single_product.price}}</h3>
							<ul class="list ">
								<li><a class="active" href="#"><span>{{ single_product.category }}</span> : Household</a></li>
								{% if single_product.stock == 0 %}
								<li><a href="#"><span>Availibility</span> : Out of Stock</a></li>
								{% else %}
								<li><a href="#"><span>Availibility</span> : In Stock</a></li>
								{% endif %}
							
							</ul>
							<!-- <div class="tab-content" id="myTabContent">
								<div class="" id="home" role="tabpanel" aria-labelledby="home-tab">
									<p>{{ single_product.description }}</p>
								</div>
							 -->
							<!-- </div> -->
							<p class="w-100" >{{ single_product.description }}</P>
							
							
								
													
						
					

						<h5 style="margin-left: 50px;">size</h5>	
							<div class="card_area d-flex align-items-center ml-1">
								
								{% if  single_product.variation_set.all %}
																
									<select  name="size" class="form-control bg-black" required >	
										
										<option value="" >size</option>
										{%  for i in single_product.variation_set.all %}						
												
										<option value="{{ i.variation_value | lower }}">{{ i.variation_value | capfirst }}</option>		
										{% endfor %}					
									</select>	
								
								{% endif %}
								{% if single_product.stock == 0 %}
								<div>
								<h3 style="color: red; ">Out Of stock</h3>
								</div>								
								{% else %}
								
								<button type="submit" style="border-radius: 50px;" class="btn btn-lg ml-1 btn-primary">Add To cart</button>							
													
										
								{% endif %}
								<button  style="border-radius: 50px;background-color: #ffff;border:solid 2px #007bff;" class="btn btn-lg ml-1 btn-primary"><a  href="{% url 'wishlist_add' single_product.id %}"> Add to Fav</a>	</button>
							
							</div>
						
						</div>
					</div>
				</form>
			
				
			</div>
		
		</div>
		
	</div> 
	
 <section class="product_description_area">
		<div class="container">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item">
					<a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Description</a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review"
					 aria-selected="false">Reviews</a>
				</li>
			</ul>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
					<p>{{ single_product.description }}</p>
				</div>
				<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
					<div class="table-responsive">
						
					</div>
				</div>
				<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
					<div class="row">
						<div class="col-lg-6">
							<div class="comment_list">					
								
								
							</div>
						</div>
					 <div class="col-lg-6">
							<div class="review_box">
								<h4>Post a comment</h4>
							
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
					<div class="row">
						<div class="col-lg-12">
							<div class="row total_rate">
								<div class="col-4">
									<div class="box_total">
										<h5>Overall</h5>
										<h4>{{ reviewcount }}</h4>
										<h6>Reviews</h6>
									</div>
								</div>
								
							</div>
							<div class="review_list  ">{%  for r in review %}
								<div class="review_item">
									<div class="media">
										<div class="d-flex mt-5">
											{% if r.image %}
											<img style="width: 150px;height: 150px;" src="{{r.image.url}}" alt="">
											{% endif %}											
										</div>
										<div class="media-body">
											<h4>{{r.user.first_name}}</h4>
											<p>{{r.description}}</p>										
											{% if r.rating >= 1 %}
											<i  class="fa fa-star "></i>
											{% endif %}
											{% if r.rating >= 2 %}
											<i class="fa fa-star"></i>											
											{% endif %}
											{% if r.rating >= 3 %}
											<i class="fa fa-star"></i>											
											{% endif %}
											{% if r.rating >= 4 %}
											<i class="fa fa-star"></i>											
											{% endif %}
											{% if r.rating >= 5 %}
											<i class="fa fa-star"></i>											
											{% endif %} 
										</div>
									
									</div>
									<p>{{r.created_date.date}}</p>
								</div>								
						</div>
						{% endfor %}
						
							<!-- <div class="review_box">
								<h4>Add a Review</h4>
								<p>Your Rating:</p>
								<ul class="list">
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
								</ul>
								<p>Outstanding</p>
								{% comment %} <form class="row contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
									<div class="col-md-12">
										<div class="form-group">
											<input type="text" class="form-control" id="name" name="name" placeholder="Your Full name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Full name'">
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<input type="email" class="form-control" id="email" name="email" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address'">
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<input type="text" class="form-control" id="number" name="number" placeholder="Phone Number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone Number'">
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<textarea class="form-control" name="message" id="message" rows="1" placeholder="Review" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Review'"></textarea></textarea>
										</div>
									</div>
									<div class="col-md-12 text-right">
										<button type="submit" value="submit" class="primary-btn">Submit Now</button>
									</div>
								</form> {% endcomment %}
							</div> -->
						
					</div>
				</div>
			</div>
		</div>
	</section>

	<!--================End Product Description Area =================-->


   <div></div>
	<!-- Start related-product Area -->
	<section class="related-product-area section_gap_bottom">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 text-center">
					<div class="section-title">
						<h1>Related products  </h1>
						<p></p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 ">
					<div class="row"> {% for x in related_product %}
						<div class="col-lg-3 ">
							<div  class="single-related-product">
								<a href="#"><img style="width:45%;height:50%" src="{{ x.image.url  }}" alt=""></a>
								<div class="desc">
									
									<a href="{{x.get_url}}" class="title">{{ x.name}}</a>
									<div class="price">
									
										<h6 >₹ {{x.price}}</h6>
									</div>
								</div>
							</div> 
						</div>{% endfor %}
					
								</div>
							</div>
						</div> 

					</div>
				</div>
				
			</div>
		</div>
	</section>
	<footer class="footer-area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-4  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						
						<a href="{%  url 'contact' %}"><h6>About Us</h6></a>
						<p>
							its not a store its a world of sports 
							
						</p>
						<p>explore more</p>

						<a href="{% url 'home' %}">click Here</a>
					</div>
				</div>
				<div class="col-lg-4  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Social Media</h6>
						<p>Facebook</p>
						<p>Instagram</p>
						<p>Email</p>
						<p>Twitter</p>
					
						<div class="" id="mc_embed_signup">

							<form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
							 method="get" class="form-inline">
						
								<div class="info"></div>
							</form>
						</div>
					</div>
				</div>
				
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Follow Us</h6>
						<p>Let us be social</p>
						<div class="footer-social d-flex align-items-center">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-dribbble"></i></a>
							<a href="#"><i class="fa fa-behance"></i></a>
						</div>
					</div>
				</div>
			</div>
			
</p>
			</div>
		</div>
	</footer> 
	<!-- End related-product Area -->

	<!-- start footer Area -->
	<!-- < -->

    {% endblock %}