{% extends 'products/base.html'   %}

{%  load static %}
{% block content  %}


  <section class="banner-area ">
    <div class="container">
      <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
        <div class="col-first">
          <!-- <h1>Shop Category page</h1> -->
          <nav class="d-flex align-items-center">
            <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
            <a href="#">Shop<span class="lnr lnr-arrow-right">{{categor}}</span></a>
            <a href="category.html"></a>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!-- End Banner Area -->
  <div class="container">
    <div class="row">
      <!-- <div class="col-xl-3 col-lg-4 col-md-5">
       
        <div class="sidebar-filter mt-50">
          <div class="top-filter-head">Product Filters</div>
          <div class="common-filter">
            <div class="head">Brands</div>
            <form action="#">
              <ul>
                <li class="filter-list"><input class="pixel-radio" type="radio" id="apple" name="brand"><label for="apple">Apple<span>(29)</span></label></li>
                <li class="filter-list"><input class="pixel-radio" type="radio" id="asus" name="brand"><label for="asus">Asus<span>(29)</span></label></li>
                <li class="filter-list"><input class="pixel-radio" type="radio" id="gionee" name="brand"><label for="gionee">Gionee<span>(19)</span></label></li>
                <li class="filter-list"><input class="pixel-radio" type="radio" id="micromax" name="brand"><label for="micromax">Micromax<span>(19)</span></label></li>
                <li class="filter-list"><input class="pixel-radio" type="radio" id="samsung" name="brand"><label for="samsung">Samsung<span>(19)</span></label></li>
              </ul>
            </form>
          </div>
          <div class="common-filter">
            <div class="head">Color</div>
            <form action="#">
              <ul>
                <li class="filter-list"><input class="pixel-radio" type="radio" id="black" name="color"><label for="black">Black<span>(29)</span></label></li>
                <li class="filter-list"><input class="pixel-radio" type="radio" id="balckleather" name="color"><label for="balckleather">Black
                    Leather<span>(29)</span></label></li>
                <li class="filter-list"><input class="pixel-radio" type="radio" id="blackred" name="color"><label for="blackred">Black
                    with red<span>(19)</span></label></li>
                <li class="filter-list"><input class="pixel-radio" type="radio" id="gold" name="color"><label for="gold">Gold<span>(19)</span></label></li>
                <li class="filter-list"><input class="pixel-radio" type="radio" id="spacegrey" name="color"><label for="spacegrey">Spacegrey<span>(19)</span></label></li>
              </ul>
            </form>
          </div>
          <div class="common-filter">
            <div class="head">Price</div>
            <div class="price-range-area">
              <div id="price-range"></div>
              <div class="value-wrapper d-flex">
                <div class="price">Price:</div>
                <span>$</span>
                <div id="lower-value"></div>
                <div class="to">to</div>
                <span>$</span>
                <div id="upper-value"></div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      {% if products %}
      <div class="col-xl-12 col-lg-12 col-md-7">
        <!-- Start Filter Bar -->
        <div class="filter-bar d-flex flex-wrap align-items-center">
          <div class="sorting">
            <form action="" method="POST">
              {% csrf_token %}
              <select name="sorting">
                <option value=""> Pricing sort </option>
                <option   value="high">low to high </option>
                <option value="low">high to low </option>       
                
            </select>
            <button class="sorting " style="width: 80px;" type="submit">filter</button>         
          </form>
          </div>
          <div class="sorting mr-auto">
            <select>
              <option value="1">Show 12</option>
              <option value="1">Show 12</option>
              <option value="1">Show 12</option>
            </select>
          </div>
        
          <div class="pagination">
          {%  if products.has_other_pages  %}
            {%  if products.has_previous  %}
            <a href="?page={{ products.previous_page_number }}" class="prev-arrow"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
            {% else %}          
            <a href="#" class="prev-arrow disabled"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
            
            {% endif  %} 
            {% for  i in products.paginator.page_range %}
              {% if products.number == i %}
                <a href="#" class="active">{{i}}</a> 
              {% else %}
                <a href="?page={{i}}" class="">{{i}}</a> 
              {% endif %}
            {% endfor %}
            {%  if products.has_next  %}
            <a href="?page={{ products.next_page_number }}" class="next-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
          
            {% else %}
          <a href="#" class="next-arrow disabled"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
            {% endif %}
            {% endif %}
        </div>
      </div>
        <!-- End Filter Bar -->
        <!-- Start Best Seller -->
      
        <p><b>{{ count }}</b> item found</p>
      <section  class="">
      <!-- single product slide -->
      <div class="">
        <div class="container">
        
          <div class="row">{% for pro in products %}
            <!-- single product -->
            <div class="col-lg-3 col-md-6 mt-5 border-primary ">
              <div class="single-product  border  border-primary shadow">
                <h4 style="text-align: center; color: blue; background-color: rgba(95, 158, 160, 0.375);">TOP</h4>
                <img class="img-fluid" src="{{pro.image.url}}" alt="">
                <div class="product-details">
                	<h6 ><a style="text-decoration: none;" href="{{ pro.get_url }}">{{pro.name}}</a></h6>
                  <div class="price">
                    <h6>${{pro.price}}</h6>
                    <h6 class="l-through"></h6>
                  </div>
                  <div class="prd-bottom">

                    <a href="{{ pro.get_url }} " class="social-info">
                      <span class="ti-bag bg-primary"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                      <p class="hover-text">add to bag</p>
                    </a>
                    <a href="{% url 'wishlist_add' pro.id %}" class="social-info">
                      <span class="lnr lnr-heart bg-danger"><i class="fa fa-gratipay" aria-hidden="true"></i></span>
                      <p class="hover-text">Wishlist</p>
                    </a>
                    <!-- <a href="" class="social-info">
                      <span class="lnr lnr-sync"></span>
                      <p class="hover-text">compare</p>
                    </a> -->
                    <a href="" class="social-info">
                      <span class="lnr lnr-move"></span>
                      <p class="hover-text">view more</p>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>	
          
        </div>
      </div>
      
    
    <!-- End Best Seller -->


  <!-- Start related-product Area -->
        <section class="related-product-area section_gap">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-6 text-center">
                <div class="section-title">
                  <h1>Deals of the Week</h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-9">
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                    <div class="single-related-product d-flex">
                      <a href="#"><img src="img/r1.jpg" alt=""></a>
                      <div class="desc">
                        <a href="#" class="title">Black lace Heels</a>
                        <div class="price">
                          <h6>$189.00</h6>
                          <h6 class="l-through">$210.00</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                    <div class="single-related-product d-flex">
                      <a href="#"><img src="img/r2.jpg" alt=""></a>
                      <div class="desc">
                        <a href="#" class="title">Black lace Heels</a>
                        <div class="price">
                          <h6>$189.00</h6>
                          <h6 class="l-through">$210.00</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                    <div class="single-related-product d-flex">
                      <a href="#"><img src="img/r3.jpg" alt=""></a>
                      <div class="desc">
                        <a href="#" class="title">Black lace Heels</a>
                        <div class="price">
                          <h6>$189.00</h6>
                          <h6 class="l-through">$210.00</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                    <div class="single-related-product d-flex">
                      <a href="#"><img src="img/r5.jpg" alt=""></a>
                      <div class="desc">
                        <a href="#" class="title">Black lace Heels</a>
                        <div class="price">
                          <h6>$189.00</h6>
                          <h6 class="l-through">$210.00</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                    <div class="single-related-product d-flex">
                      <a href="#"><img src="img/r6.jpg" alt=""></a>
                      <div class="desc">
                        <a href="#" class="title">Black lace Heels</a>
                        <div class="price">
                          <h6>$189.00</h6>
                          <h6 class="l-through">$210.00</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                    <div class="single-related-product d-flex">
                      <a href="#"><img src="img/r7.jpg" alt=""></a>
                      <div class="desc">
                        <a href="#" class="title">Black lace Heels</a>
                        <div class="price">
                          <h6>$189.00</h6>
                          <h6 class="l-through">$210.00</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="single-related-product d-flex">
                      <a href="#"><img src="img/r9.jpg" alt=""></a>
                      <div class="desc">
                        <a href="#" class="title">Black lace Heels</a>
                        <div class="price">
                          <h6>$189.00</h6>
                          <h6 class="l-through">$210.00</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="single-related-product d-flex">
                      <a href="#"><img src="img/r10.jpg" alt=""></a>
                      <div class="desc">
                        <a href="#" class="title">Black lace Heels</a>
                        <div class="price">
                          <h6>$189.00</h6>
                          <h6 class="l-through">$210.00</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="single-related-product d-flex">
                      <a href="#"><img src="img/r11.jpg" alt=""></a>
                      <div class="desc">
                        <a href="#" class="title">Black lace Heels</a>
                        <div class="price">
                          <h6>$189.00</h6>
                          <h6 class="l-through">$210.00</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="ctg-right">
                  <a href="#" target="_blank">
                    <img class="img-fluid d-block mx-auto" src="img/category/c5.jpg" alt="">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </section>
{% else %}

<div >
  <img style="width: 800px;height: 800px;" src="https://static.vecteezy.com/system/resources/previews/004/968/529/non_2x/search-no-results-found-concept-illustration-flat-design-eps10-simple-modern-graphic-element-for-landing-page-empty-state-ui-infographic-icon-with-editable-stroke-line-outline-linear-vector.jpg" alt="">
</div>


{% endif %}

 {% endblock  %}