{%  load static %}

<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Sportsbasket.com</title>
	<!--
		CSS
		============================================= -->
	<link rel="stylesheet" href="{% static 'test/css/linearicons.css' %}">
	<link rel="stylesheet" href="{% static 'test/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'test/css/themify-icons.css' %}">
	<link rel="stylesheet" href="{% static 'test/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'test/css/owl.carousel.css' %}">
	<link rel="stylesheet" href="{% static 'test/css/nice-select.css' %}">
	<link rel="stylesheet" href="{% static 'test/css/nouislider.min.css' %}">
	<link rel="stylesheet" href="{% static 'test/css/ion.rangeSlider.css' %}" />
	<link rel="stylesheet" href="{% static 'test/css/ion.rangeSlider.skinFlat.css' %}" />
	<link rel="stylesheet" href="{% static 'test/css/magnific-popup.css' %}">
	<link rel="stylesheet" href="{% static 'test/css/main.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>

<body style="background-color: rgba(239, 232, 232, 0.3);">

	<!-- Start Header Area -->
	<header class="header_area sticky-header">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light main_box">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href=""><img style="width: 70px; height: 70px;" src="{%  static 'home/images/bg/l1.png' %}" alt=""></a>
					<h3>SportsBascket.com</h3>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>  
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav ml-auto">
							<li class="nav-item active"><a class="nav-link" href="{%  url 'home' %}">Home</a></li>
							<li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Category</a>
								<ul class="dropdown-menu">{% for  link in links %}
									<li class="nav-item"><a class="nav-link" href="{{link.get_url}}">{{ link.title }}</a></li>
									{% endfor %}
								</ul>
							</li>
						
							<li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Account</a>
								<ul class="dropdown-menu">
									{% if user.is_authenticated %}
									<li class="nav-item"><a class="nav-link" href="{% url 'profile' %}">Profile</a></li>
									{% else %}
									<li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Log In</a></li>
									<li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Sign Up</a></li>
									{% endif %}
								</ul>
							</li>
							<li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
							<li><a href="{% url 'cart' %}">						
							<button type="button" class="btn btn-primary">
							<span class="badge bg-danger ms-2">{{ cart_count}}</span>
							   <span class="visually-hidden">Cart</span>
							 </button>
							</a>
							</li>
						
							   -
							<li class="nav-item"><a  class="nav-link  fw-3" >
								<!-- <i class="fa fa-cart-arrow-down  fa-2x" aria-hidden="true"></i></a></li> -->
								
							<li class="nav-item"><a class="nav-link" href="{% url 'wishlist' %}" ><i class="fa fa-heart fa-2x" aria-hidden="true"></i>
							</a></li>
					
																			
						{% if user.is_authenticated %}
						<li class="nav-item active"><li style="color: rgb(129, 129, 222);margin-top: 7px;">{{ request.user.username}}</li><a class="nav-link" href="{%  url 'logout' %}">Log Out</a></li>
						{% else %}
						<li class="nav-item active"><a class="nav-link" href="{%  url 'login' %}">Log In</a></li>
						{% endif %}
						<ul class="nav navbar-nav navbar-right">
							
							
							
							<li class="nav-item">
								<button class="search"><span class="lnr lnr-magnifier"  name="keyword  " id="search"></span></button>
							</li>
							
						</ul>
					</div>
				</div>
			</nav>
		</div>
		<div class="search_input" id="search_input_box">
			<div class="container">
				<form class="d-flex justify-content-between" action="{% url 'search' %}" method="GET">
					<input type="text" class="form-control" id="search_input" name="keyword" placeholder="Search Here">
					<button type="submit" class="btn"></button>
					<span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
				</form>
			</div>
		</div>
	</header>
	<!-- End Header Area -->
	{% if messages %}
	<ul class="messages">
	  {% for message in messages %}
					  
		<div class="alert alert-success alert-dismissiblen ">
		  <button type="button" class="close" data-dismiss="alert">&times;</button>
		  <strong>{{message}}</strong> 
		</div>
	  {% endfor %}
	</ul>
	{% endif %}
	<!-- start banner Area -->
	<section class="banner-area">
		<div class="container">
			<div class="row fullscreen align-items-center justify-content-start">
				<div class="col-lg-12">
					<div class="active-banner-slider owl-carousel">
						<!-- single-slide -->
						<div class="row single-slide align-items-center d-flex">
							<div class="col-lg-5 col-md-6">
								<div class="banner-content">
									<h1>All in One Touch</h1>
									<p>Your Health is our priority,stay healthy stay strong always be with you</p>
									<br>
									<h3 style="color: blue; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">SPORTSBASKET.COM</h3>
									<div class="add-bag d-flex align-items-center">
										<a class="add-btn" href=""><span class="lnr lnr-cross"></span></a>
										<span class="add-text text-uppercase">Shop Now</span>
									</div>
								</div>
							</div>
							<div class="col-lg-7">
								<div class="banner-img">
									<img class="img-fluid" src="{% static 'test/img/bbb.png'  %}" alt="">
								</div>
							</div>
						</div>
						<!-- single-slide -->
						<div class="row single-slide">
							<div class="col-lg-5">
								<div class="banner-content">
									<h1>Vintage<br>Collection!</h1>
									<p>Your Health is our priority,stay healthy stay strong always be with you</p>
									<div class="add-bag d-flex align-items-center">
										<a class="add-btn" href=""><span class="lnr lnr-cross"></span></a>
										<span class="add-text text-uppercase">Shop Now</span>
									</div>
								</div>
							</div>
							<div class="col-lg-7">
								<div class="banner-img">
									<img class="img-fluid" src="{% static 'test/img/bbb.png'  %}" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->

<br>
<br>

<marquee behavior="" direction="left">
	<h3>Flat 5 % OFF on every purchase above ₹ 500,coupon code is <b>FLAT150 *</b></h3>
</marquee>	

<section  class="categorys mt-5">
    <div class="container mt-5">
        <div class="row mt-5" >
            <div class="col-sm-12">
                <div class="section-title mt-5">
                    <strong><h1>Shop with categorys</h1></strong>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">{% for link in links %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-6 ">
                <div class="productcategory text-center">
                    <div class="productcategory-img mt-5">
                        <a href="{{  link.get_url }}"><img src="{{ link.image.url}}" class="rounded-circle border border-2 border-primary" alt="Avatar"alt="images"></a>
                    </div>
                    <div class="productcategory-text">
                        <a href="#">
                            <br>
                           <strong><a href="{{  link.get_url }}"><h3>{{ link.title }}</h3></a> </strong>
                          
                        </a>
                    </div>
                </div>
            </div>{% endfor %}
          
</section>
	<!-- start features Area -->
	<section class="features-area section_gap">
		<div class="container">
			<div class="row features-inner">
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							
						</div>
						<h6>Free Delivery</h6>
						<p>Free Shipping on all order</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
						
						</div>
						<h6>Return Policy</h6>
						<p>Free Shipping on all order</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
						
						</div>
						<h6>24/7 Support</h6>
						<p>Free Shipping on all order</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
						
						</div>
						<h6>Secure Payment</h6>
						<p>Free Shipping on all order</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end features Area -->

	
<H1 style="text-align: center; color: gray;">NEW ARRIVAL ITEMS</H1>
<section  class="">
	<!-- single product slide -->
	<div class="">
		<div class="container">
		
			<div class="row">{% for pro in pro %}
				<!-- single product -->
				<div class="col-lg-3 col-md-6 mt-5 border-primary">
					<div class="single-product  border  border-primary">
						<h4 style="text-align: center; color: blue; background-color: rgba(95, 158, 160, 0.375);">TOP</h4>
						{% if pro.image %}
						<img class="img-fluid" src="{{pro.image.url}}" alt="">
						{% endif %}
						<div class="product-details">
							<h6 ><a style="text-decoration: none;" href="{{ pro.get_url }}">{{pro.name}}</a></h6>
							<div class="price">
								<h6>₹ {{pro.price}}</h6>
								<h6 class="l-through"></h6>
							</div>
							<div class="prd-bottom">

								{% if pro.stock <= 0 %}
									
										Out Of Stock
								{% else %}
									
									<a href="{{ pro.get_url}}" class="social-info">
									<span class="ti-bag bg-primary"></span>
									<p class="hover-text">add to bag</p>
								{% endif %}
									</a>
								<a href="{% url 'wishlist_add' pro.id  %}" class="social-info">
									<span class="lnr lnr-heart bg-danger"></span>
									<p class="hover-text">Wishlist</p>
								</a>
								<!-- <a href="" class="social-info">
									<span class="lnr lnr-sync"></span>
									<p class="hover-text">compare</p>
								</a> -->
								<a href="{{ pro.get_url}}" class="social-info">
									<span class="lnr lnr-move"></span>
									<p class="hover-text">view more</p>
								</a>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>	
			
		</div>
	</div>
</section>		
			
<!-- end product Area -->

	<!-- Start exclusive deal Area -->
	{% comment %} <section class="exclusive-deal-area">
		<div class="container-fluid">
			<div class="row justify-content-center align-items-center">
				<div class="col-lg-6 no-padding exclusive-left">
					<div class="row clock_sec clockdiv" id="clockdiv">
						<div class="col-lg-12">
							<h1>Exclusive Hot Deal Ends Soon!</h1>
							<p>Who are in extremely love with eco friendly system.</p>
						</div>
						<div class="col-lg-12">
							<div class="row clock-wrap">
								<div class="col clockinner1 clockinner">
									<h1 class="days">150</h1>
									<span class="smalltext">Days</span>
								</div>
								<div class="col clockinner clockinner1">
									<h1 class="hours">23</h1>
									<span class="smalltext">Hours</span>
								</div>
								<div class="col clockinner clockinner1">
									<h1 class="minutes">47</h1>
									<span class="smalltext">Mins</span>
								</div>
								<div class="col clockinner clockinner1">
									<h1 class="seconds">59</h1>
									<span class="smalltext">Secs</span>
								</div>
							</div>
						</div>
					</div>
					<a href="" class="primary-btn">Shop Now</a>
				</div>
				<div class="col-lg-6 no-padding exclusive-right">
					<div class="active-exclusive-product-slider">
						<!-- single exclusive carousel -->
						<div class="single-exclusive-slider">
							<img class="img-fluid" src="img/product/e-p1.png" alt="">
							<div class="product-details">
								<div class="price">
									<h6>$150.00</h6>
									<h6 class="l-through">$210.00</h6>
								</div>
								<h4>addidas New Hammer sole
									for Sports person</h4>
								<div class="add-bag d-flex align-items-center justify-content-center">
									<a class="add-btn" href=""><span class="ti-bag"></span></a>
									<span class="add-text text-uppercase">Add to Bag</span>
								</div>
							</div>
						</div>
						<!-- single exclusive carousel -->
						<div class="single-exclusive-slider">
							<img class="img-fluid" src="img/product/e-p1.png" alt="">
							<div class="product-details">
								<div class="price">
									<h6>$150.00</h6>
									<h6 class="l-through">$210.00</h6>
								</div>
								<h4>addidas New Hammer sole
									for Sports person</h4>
								<div class="add-bag d-flex align-items-center justify-content-center">
									<a class="add-btn" href=""><span class="ti-bag"></span></a>
									<span class="add-text text-uppercase">Add to Bag</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End exclusive deal Area -->

	<!-- Start brand Area -->
	<section class="brand-area section_gap">
		<div class="container">
			<div class="row">
				<a class="col single-img" href="#">
					<img class="img-fluid d-block mx-auto" src="img/brand/1.png" alt="">
				</a>
				<a class="col single-img" href="#">
					<img class="img-fluid d-block mx-auto" src="img/brand/2.png" alt="">
				</a>
				<a class="col single-img" href="#">
					<img class="img-fluid d-block mx-auto" src="img/brand/3.png" alt="">
				</a>
				<a class="col single-img" href="#">
					<img class="img-fluid d-block mx-auto" src="img/brand/4.png" alt="">
				</a>
				<a class="col single-img" href="#">
					<img class="img-fluid d-block mx-auto" src="img/brand/5.png" alt="">
				</a>
			</div>
		</div>
	</section> {% endcomment %}
	<!-- End brand Area -->

	<!-- Start related-product Area -->
	{% comment %} <section class="related-product-area section_gap_bottom">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 text-center">
					<div class="section-title">
						<h1>Deals of the Week</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
							magna aliqua.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-9">
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="#"><img src="img/r1.jpg" alt=""></a>
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="#"><img src="img/r2.jpg" alt=""></a>
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="#"><img src="img/r3.jpg" alt=""></a>
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="#"><img src="img/r5.jpg" alt=""></a>
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="#"><img src="img/r6.jpg" alt=""></a>
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="#"><img src="img/r7.jpg" alt=""></a>
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-related-product d-flex">
								<a href="#"><img src="img/r9.jpg" alt=""></a>
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-related-product d-flex">
								<a href="#"><img src="img/r10.jpg" alt=""></a>
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-related-product d-flex">
								<a href="#"><img src="img/r11.jpg" alt=""></a>
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="ctg-right">
						<a href="#" target="_blank">
							<img class="img-fluid d-block mx-auto" src="img/category/c5.jpg" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
	</section> {% endcomment %}
	<section class="related-product-area section_gap_bottom">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 text-center">
					<div class="section-title">
						<h1>EXCLUSIVE ITEMS	</h1>
						<p></p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 ">
					<div class="row"> {% for x in related_product %}
						<div class="col-lg-3 ">
							<div  class="single-related-product">
								{% if x.image %}
								<a href="#"><img style="width:45%;height:50%" src="{{ x.image.url  }}" alt=""></a>
								{% endif %}
								<div class="desc">
									
									<a href="{{x.get_url}}" class="title">{{ x.category.title}}</a>
									<div class="price">
										<h6>₹ {{ x.price }}</h6>
										{% comment %} <h6 class="l-through">$210.00</h6> {% endcomment %}
									</div>
								</div>
							</div> 
						</div>{% endfor %}
					
								</div>
							</div>
						</div> 

					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End related-product Area -->

	<!-- start footer Area -->
	<footer class="footer-area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-4  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						
						<a href="{%  url 'contact' %}"><h6>About Us</h6></a>
						<p>
							its not a store its a world of sports 
							
						</p>
						<p>explore more</p>

						<a href="{% url 'home' %}">click Here</a>
					</div>
				</div>
				<div class="col-lg-4  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Social Media</h6>
						<p>Facebook</p>
						<p>Instagram</p>
						<p>Email</p>
						<p>Twitter</p>
					
						<div class="" id="mc_embed_signup">

							<form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
							 method="get" class="form-inline">
						
								<div class="info"></div>
							</form>
						</div>
					</div>
				</div>
				
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Follow Us</h6>
						<p>Let us be social</p>
						<div class="footer-social d-flex align-items-center">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-dribbble"></i></a>
							<a href="#"><i class="fa fa-behance"></i></a>
						</div>
					</div>
				</div>
			</div>
			
</p>
			</div>
		</div>
	</footer>
	<!-- End footer Area -->
	<script src="{% static 'home/js/style.js' %}"></script>
	<script src="{% static 'test/js/vendor/jquery-2.2.4.min.js' %}"></script>
	<script src="{% static 'test/https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js' %}" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script src="{% static 'test/js/vendor/bootstrap.min.js' %}"></script>
	<script src="{% static 'test/js/jquery.ajaxchimp.min.js' %}"></script>
	<script src="{% static 'test/js/jquery.nice-select.min.js' %}"></script>
	<script src="{% static 'test/js/jquery.sticky.js' %}"></script>
	<script src="{% static 'test/js/nouislider.min.js' %}"></script>
	<script src="{% static 'test/js/countdown.js' %}"></script>
	<script src="{% static 'test/js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'test/js/owl.carousel.min.js' %}"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="{% static 'test/js/gmaps.min.js' %}"></script>
	<script src="{% static 'test/js/main.js' %}"></script>
</body>

</html>